@import url('Fonts/Montserrat/Montserrat-Medium.ttf');
@import url('Fonts/Roboto/Roboto-Medium.ttf');
body {
    margin:0;
    padding: 0;
    font-family: 'Roboto,Montserrat';
}
.links a{
    color:aliceblue;
    text-decoration: none;
}
.links a:hover{
    color:white;
}
.iconify {
    font-size: 100px;
    color:#7C00C9;
}
.footer {
    display:flex;
    background-color: transparent;
    width:98.78vw;
    height: 15vh;
    justify-content: center;
    align-items:center;
}
.Github_profile {
    font-size: 35px;
    color:black;
    transition: 1s;
}
.Github_profile:hover {
    opacity: 40%;
}
.Email {
    color: #7C00C9;
    text-decoration: none;
}
.Email:hover {
    text-decoration: underline;
}